.categoryListings {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.pageHeader {
  font-size: 30px;
  margin-bottom: -10px;
  margin-bottom: -30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  text-align: center;
}
