@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  font-family: "Amatic SC", cursive;
  font-family: "Oswald", sans-serif;
  border-radius: 30px;
  box-shadow: 0 8px 6px -6px #999;
  background-color: hsl(var(--p));
}

nav {
  font-size: 20px;
}

nav ul li {
  display: inline-block;
  margin-left: 25px;
  padding-right: 30px;
}

h1 {
  padding-left: 30px;
}
